body {
  background-color: #f8f9f4;
  height: 100vh;
}

/* nav-bar style */
.landing_navbar {
  display: flex;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}
@keyframes sliding {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
}
.landing_navbar_logo img {
  height: 100px;
  width: auto;
  animation: sliding 3s linear infinite;
}
.landing_navbar_links {
  width: 700px;
}

.landing_navbar_links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing_navbar_links ul li {
  margin-left: 40px;
  display: flex;
  font-size: 20px;
  /* font-weight: bold; */
}
.landing_navbar_links li:hover {
  background-color: burlywood;
  color: rgb(27, 25, 25);
  border-radius: 9px;
  cursor: pointer;
  font-weight: lighter;
}

.landing_navbar_buttons button {
  margin-right: 30px;
  padding: 10px;
  border-radius: 9px;
  border: none;
  background-color: burlywood;
  cursor: pointer;
  font-weight: bold;
}
.landing_navbar_buttons button:hover {
  background-color: rgb(212, 182, 142);

  cursor: pointer;
}
.landing_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: (4, 1fr); /* Create 4 columns with equal width */
  gap: 2px;
  overflow: hidden;

  height: 100vh; /* Set the container height to 100% of the viewport height */
}
/* content style */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-bottom: 70px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.image-container h1 {
  color: #ffffff;
  font-weight: bolder;
  font-size: 20px;
  text-shadow: darkgray 2px 2px;
  /* background-color: lavender; */
  padding: 10px;
  /* border-radius: 3px; */
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
}
