.posts_container {
  border-radius: 10px solid blue;
  /* border: 2px solid black; */
  box-shadow: 3px 3x 3px 3px black;
  width: 60vw;
  margin-left: 22vw;
  margin-top: 40px;
  /* height: ; */
  border-right: 2px solid black;
}
/* .post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 50%;
  margin-top: 0px;
  margin-right: 200px;
  margin-left: 140px;
  gap: 3px;
} */
/* .posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
} */
/* .post img {
  width: 20vw;
  height: 60vh;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
} */
/* .post-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.posts_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons {
  align-self: flex-start;
  display: flex;
  gap: 20px;
  margin-left: 30px;
}

.icons p {
  color: blue;
}
.posts {
  display: flex;

  width: 100%;
}

.post-item {
  width: 20vw;
  height: fit-content;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.post-image {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*ed*/
.text-area-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: lavender;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 25em; /* Adjust the height as needed */
  overflow: auto;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: lavenderblush;
  border-radius: 12px;
}

.post-textarea {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  resize: vertical;
  background-color: lavenderblush;
}

.post-file-input {
  margin-bottom: 1em;
}

.post-submit-btn {
  align-self: flex-end;
  padding: 0.3em 0.5em;
  background-color: #5796d8;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 0;
}

.post-submit-btn:hover {
  background-color: #0056b3;
}
